@charset "UTF-8";

/* 字体 */
@font-face {
	font-family: 'GenshinScript';
	src: url('../font/GenshinScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}
body {
	/* 背景 */
	background-color: antiquewhite;
	background-image: url("../img/bg01.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
	/* 网页淡入动画 */
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	/* 字体 */
	font-family: 'GenshinScript';
	font-size: 26px;
}

/* 网页淡入动画-关键帧 */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
		margin-top: 60px;
    }
    100% {
        opacity: 1;
		margin-top: 0;
    }
}

/* 鼠标指针样式 */
* {
	cursor: url("../img/cursor/01.cur"), auto;
}

/* 页面滚动条 */
::-webkit-scrollbar {/* 宽度 */
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar-track {/* 轨道 */
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {/* 滑块 */
	background: rgb(23, 135, 205);
	border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {/* 滑块-点击 */
	background: rgb(44, 90, 118);
}


.top .top-tittle {

}

.top-nav {
	font-size: 20px;
	position: fixed;
	float: left;
	top: 20%;
	left: 10px;
}
.top-nav ul {
	list-style: none;
}
.top-nav li {
	margin: 40px 5px;
}
.top-nav a {
	text-decoration: none;
	padding: 10px 18px;
	color: rgb(66, 90, 187);
	background-color: rgb(202, 233, 251);
	border: 3px solid rgb(66, 90, 187);
	border-radius: 32px;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.top-nav a:hover {
	color: rgb(202, 233, 251);
	background-color: rgb(66, 90, 187);
	border: 3px solid rgb(202, 233, 251);
}
.dropdown {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.dropdown-content {
	margin: auto;
	margin-left: 10px;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(240, 247, 249, 0.8);
	border: 1px solid rgb(66, 90, 187);
	border-radius: 32px;
	font-size: 16px;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.dropdown-content a {
	padding: 5px;
	margin: 5px;
}
.dropdown:hover .dropdown-content {
    display: flex;
}














.footer {
	background-color: rgb(188, 219, 228);
	padding: 30px;
}
.footer .copyright {
	width: 75%;
	margin: auto;
}
.footer span {
	font-size: 20px;
	padding-left: 8px;
	border-left: 5px solid rgb(66, 90, 187);
}
.footer p {
	font-size: 16px;
	text-align: center;
}